body{
        margin: 0;
        padding:0;
}

.top-container{
        display: flex;
        flex-direction: column;
}

.header{
        display:flex;
        justify-content: space-around;
        padding-top: 10px;
        border: 1px solid black;
        margin: 3px;
        background-color: gainsboro;
}